openapi: 3.2.0
info:
  title: Agora Website Content WordPress Content API
  version: '2026-09-12'
  summary: Agora's public, first-party content API for agorareal.com.
  description: The anonymous, read-mostly content API behind agorareal.com.
  contact:
    name: Agora
    url: https://agorareal.com/contact-us/
  x-generated-from: https://websiteapi.agorareal.com/wp-json
  x-generated-method: derived
  x-generated-date: '2026-09-12'
servers:
- url: https://websiteapi.agorareal.com/wp-json
  description: Agora headless WordPress REST API (production).
security:
- {}
tags:
- name: WordPress Content
  description: Public read routes of the stock wp/v2 namespace.
paths:
  /wp/v2/agora-authors:
    get:
      operationId: getWpV2AgoraAuthors
      summary: GET /wp/v2/agora-authors
      tags:
      - WordPress Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json. Parameters are copied verbatim from the index; response schemas are not declared by the index and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: page
        in: query
        required: false
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        required: false
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: search
        in: query
        required: false
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: after
        in: query
        required: false
        description: Limit response to posts published after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: modified_after
        in: query
        required: false
        description: Limit response to posts modified after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: before
        in: query
        required: false
        description: Limit response to posts published before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        required: false
        description: Limit response to posts modified before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: exclude
        in: query
        required: false
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: include
        in: query
        required: false
        description: Limit result set to specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: search_semantics
        in: query
        required: false
        description: How to interpret the search input.
        schema:
          type: string
          enum:
          - exact
      - name: offset
        in: query
        required: false
        description: Offset the result set by a specific number of items.
        schema:
          type: integer
      - name: order
        in: query
        required: false
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - name: orderby
        in: query
        required: false
        description: Sort collection by post attribute.
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          default: date
      - name: parent
        in: query
        required: false
        description: Limit result set to items with particular parent IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: parent_exclude
        in: query
        required: false
        description: Limit result set to all items except those of a particular parent ID.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: search_columns
        in: query
        required: false
        description: Array of column names to be searched.
        schema:
          type: array
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
          default: []
      - name: slug
        in: query
        required: false
        description: Limit result set to posts with one or more specific slugs.
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        required: false
        description: Limit result set to posts assigned one or more statuses.
        schema:
          type: array
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - acf-disabled
            - any
          default: publish
      security:
      - {}
  /wp/v2/agora-authors/{id}:
    get:
      operationId: getWpV2AgoraAuthorsById
      summary: GET /wp/v2/agora-authors/{id}
      tags:
      - WordPress Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json. Parameters are copied verbatim from the index; response schemas are not declared by the index and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the post.
        schema:
          type: integer
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: excerpt_length
        in: query
        required: false
        description: Override the default excerpt length.
        schema:
          type: integer
      - name: password
        in: query
        required: false
        description: The password for the post if it is password protected.
        schema:
          type: string
      security:
      - {}
  /wp/v2/ai-new-release:
    get:
      operationId: getWpV2AiNewRelease
      summary: GET /wp/v2/ai-new-release
      tags:
      - WordPress Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json. Parameters are copied verbatim from the index; response schemas are not declared by the index and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: page
        in: query
        required: false
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        required: false
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: search
        in: query
        required: false
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: after
        in: query
        required: false
        description: Limit response to posts published after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: modified_after
        in: query
        required: false
        description: Limit response to posts modified after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: before
        in: query
        required: false
        description: Limit response to posts published before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        required: false
        description: Limit response to posts modified before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: exclude
        in: query
        required: false
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: include
        in: query
        required: false
        description: Limit result set to specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: search_semantics
        in: query
        required: false
        description: How to interpret the search input.
        schema:
          type: string
          enum:
          - exact
      - name: offset
        in: query
        required: false
        description: Offset the result set by a specific number of items.
        schema:
          type: integer
      - name: order
        in: query
        required: false
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - name: orderby
        in: query
        required: false
        description: Sort collection by post attribute.
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          default: date
      - name: search_columns
        in: query
        required: false
        description: Array of column names to be searched.
        schema:
          type: array
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
          default: []
      - name: slug
        in: query
        required: false
        description: Limit result set to posts with one or more specific slugs.
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        required: false
        description: Limit result set to posts assigned one or more statuses.
        schema:
          type: array
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - acf-disabled
            - any
          default: publish
      - name: tax_relation
        in: query
        required: false
        description: Limit result set based on relationship between multiple taxonomies.
        schema:
          type: string
          enum:
          - AND
          - OR
      - name: release_product
        in: query
        required: false
        description: Limit result set to items with specific terms assigned in the release_product taxonomy.
        schema:
          type: object
      - name: release_product_exclude
        in: query
        required: false
        description: Limit result set to items except those with specific terms assigned in the release_product taxonomy.
        schema:
          type: object
      - name: release_plan
        in: query
        required: false
        description: Limit result set to items with specific terms assigned in the release_plan taxonomy.
        schema:
          type: object
      - name: release_plan_exclude
        in: query
        required: false
        description: Limit result set to items except those with specific terms assigned in the release_plan taxonomy.
        schema:
          type: object
      - name: release_update_type
        in: query
        required: false
        description: Limit result set to items with specific terms assigned in the release_update_type taxonomy.
        schema:
          type: object
      - name: release_update_type_exclude
        in: query
        required: false
        description: Limit result set to items except those with specific terms assigned in the release_update_type taxonomy.
        schema:
          type: object
      - name: release_audience
        in: query
        required: false
        description: Limit result set to items with specific terms assigned in the release_audience taxonomy.
        schema:
          type: object
      - name: release_audience_exclude
        in: query
        required: false
        description: Limit result set to items except those with specific terms assigned in the release_audience taxonomy.
        schema:
          type: object
      security:
      - {}
  /wp/v2/ai-new-release/{id}:
    get:
      operationId: getWpV2AiNewReleaseById
      summary: GET /wp/v2/ai-new-release/{id}
      tags:
      - WordPress Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json. Parameters are copied verbatim from the index; response schemas are not declared by the index and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the post.
        schema:
          type: integer
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: excerpt_length
        in: query
        required: false
        description: Override the default excerpt length.
        schema:
          type: integer
      - name: password
        in: query
        required: false
        description: The password for the post if it is password protected.
        schema:
          type: string
      security:
      - {}
  /wp/v2/case-study:
    get:
      operationId: getWpV2CaseStudy
      summary: GET /wp/v2/case-study
      tags:
      - WordPress Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json. Parameters are copied verbatim from the index; response schemas are not declared by the index and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: page
        in: query
        required: false
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        required: false
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: search
        in: query
        required: false
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: after
        in: query
        required: false
        description: Limit response to posts published after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: modified_after
        in: query
        required: false
        description: Limit response to posts modified after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: before
        in: query
        required: false
        description: Limit response to posts published before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        required: false
        description: Limit response to posts modified before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: exclude
        in: query
        required: false
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: include
        in: query
        required: false
        description: Limit result set to specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: search_semantics
        in: query
        required: false
        description: How to interpret the search input.
        schema:
          type: string
          enum:
          - exact
      - name: offset
        in: query
        required: false
        description: Offset the result set by a specific number of items.
        schema:
          type: integer
      - name: order
        in: query
        required: false
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - name: orderby
        in: query
        required: false
        description: Sort collection by post attribute.
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          default: date
      - name: parent
        in: query
        required: false
        description: Limit result set to items with particular parent IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: parent_exclude
        in: query
        required: false
        description: Limit result set to all items except those of a particular parent ID.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: search_columns
        in: query
        required: false
        description: Array of column names to be searched.
        schema:
          type: array
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
          default: []
      - name: slug
        in: query
        required: false
        description: Limit result set to posts with one or more specific slugs.
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        required: false
        description: Limit result set to posts assigned one or more statuses.
        schema:
          type: array
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - acf-disabled
            - any
          default: publish
      - name: tax_relation
        in: query
        required: false
        description: Limit result set based on relationship between multiple taxonomies.
        schema:
          type: string
          enum:
          - AND
          - OR
      - name: case_study_taxonomy
        in: query
        required: false
        description: Limit result set to items with specific terms assigned in the case_study_taxonomy taxonomy.
        schema:
          type: object
      - name: case_study_taxonomy_exclude
        in: query
        required: false
        description: Limit result set to items except those with specific terms assigned in the case_study_taxonomy taxonomy.
        schema:
          type: object
      - name: case-study-tag
        in: query
        required: false
        description: Limit result set to items with specific terms assigned in the case-study-tag taxonomy.
        schema:
          type: object
      - name: case-study-tag_exclude
        in: query
        required: false
        description: Limit result set to items except those with specific terms assigned in the case-study-tag taxonomy.
        schema:
          type: object
      security:
      - {}
  /wp/v2/case-study-tag:
    get:
      operationId: getWpV2CaseStudyTag
      summary: GET /wp/v2/case-study-tag
      tags:
      - WordPress Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json. Parameters are copied verbatim from the index; response schemas are not declared by the index and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: page
        in: query
        required: false
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        required: false
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: search
        in: query
        required: false
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: exclude
        in: query
        required: false
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: include
        in: query
        required: false
        description: Limit result set to specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: offset
        in: query
        required: false
        description: Offset the result set by a specific number of items.
        schema:
          type: integer
      - name: order
        in: query
        required: false
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - name: orderby
        in: query
        required: false
        description: Sort collection by term attribute.
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
          default: name
      - name: hide_empty
        in: query
        required: false
        description: Whether to hide terms not assigned to any posts.
        schema:
          type: boolean
          default: false
      - name: post
        in: query
        required: false
        description: Limit result set to terms assigned to a specific post.
        schema:
          type: integer
      - name: slug
        in: query
        required: false
        description: Limit result set to terms with one or more specific slugs.
        schema:
          type: array
          items:
            type: string
      security:
      - {}
  /wp/v2/case-study-tag/{id}:
    get:
      operationId: getWpV2CaseStudyTagById
      summary: GET /wp/v2/case-study-tag/{id}
      tags:
      - WordPress Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json. Parameters are copied verbatim from the index; response schemas are not declared by the index and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the term.
        schema:
          type: integer
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      security:
      - {}
  /wp/v2/case-study/{id}:
    get:
      operationId: getWpV2CaseStudyById
      summary: GET /wp/v2/case-study/{id}
      tags:
      - WordPress Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json. Parameters are copied verbatim from the index; response schemas are not declared by the index and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the post.
        schema:
          type: integer
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: password
        in: query
        required: false
        description: The password for the post if it is password protected.
        schema:
          type: string
      security:
      - {}
  /wp/v2/case_study_taxonomy:
    get:
      operationId: getWpV2CaseStudyTaxonomy
      summary: GET /wp/v2/case_study_taxonomy
      tags:
      - WordPress Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json. Parameters are copied verbatim from the index; response schemas are not declared by the index and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: page
        in: query
        required: false
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        required: false
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: search
        in: query
        required: false
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: exclude
        in: query
        required: false
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: include
        in: query
        required: false
        description: Limit result set to specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: order
        in: query
        required: false
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - name: orderby
        in: query
        required: false
        description: Sort collection by term attribute.
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
          default: name
      - name: hide_empty
        in: query
        required: false
        description: Whether to hide terms not assigned to any posts.
        schema:
          type: boolean
          default: false
      - name: parent
        in: query
        required: false
        description: Limit result set to terms assigned to a specific parent.
        schema:
          type: integer
      - name: post
        in: query
        required: false
        description: Limit result set to terms assigned to a specific post.
        schema:
          type: integer
      - name: slug
        in: query
        required: false
        description: Limit result set to terms with one or more specific slugs.
        schema:
          type: array
          items:
            type: string
      security:
      - {}
  /wp/v2/case_study_taxonomy/{id}:
    get:
      operationId: getWpV2CaseStudyTaxonomyById
      summary: GET /wp/v2/case_study_taxonomy/{id}
      tags:
      - WordPress Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json. Parameters are copied verbatim from the index; response schemas are not declared by the index and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the term.
        schema:
          type: integer
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      security:
      - {}
  /wp/v2/categories:
    get:
      operationId: getWpV2Categories
      summary: GET /wp/v2/categories
      tags:
      - WordPress Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json. Parameters are copied verbatim from the index; response schemas are not declared by the index and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: page
        in: query
        required: false
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        required: false
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: search
        in: query
        required: false
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: exclude
        in: query
        required: false
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: include
        in: query
        required: false
        description: Limit result set to specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: order
        in: query
        required: false
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - name: orderby
        in: query
        required: false
        description: Sort collection by term attribute.
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
          default: name
      - name: hide_empty
        in: query
        required: false
        description: Whether to hide terms not assigned to any posts.
        schema:
          type: boolean
          default: false
      - name: parent
        in: query
        required: false
        description: Limit result set to terms assigned to a specific parent.
        schema:
          type: integer
      - name: post
        in: query
        required: false
        description: Limit result set to terms assigned to a specific post.
        schema:
          type: integer
      - name: slug
        in: query
        required: false
        description: Limit result set to terms with one or more specific slugs.
        schema:
          type: array
          items:
            type: string
      security:
      - {}
  /wp/v2/categories/{id}:
    get:
      operationId: getWpV2CategoriesById
      summary: GET /wp/v2/categories/{id}
      tags:
      - WordPress Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json. Parameters are copied verbatim from the index; response schemas are not declared by the index and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the term.
        schema:
          type: integer
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      security:
      - {}
  /wp/v2/comments:
    get:
      operationId: getWpV2Comments
      summary: GET /wp/v2/comments
      tags:
      - WordPress Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json. Parameters are copied verbatim from the index; response schemas are not declared by the index and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: page
        in: query
        required: false
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        required: false
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: search
        in: query
        required: false
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: after
        in: query
        required: false
        description: Limit response to comments published after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: author
        in: query
        required: false
        description: Limit result set to comments assigned to specific user IDs. Requires authorization.
        schema:
          type: array
          items:
            type: integer
      - name: author_exclude
        in: query
        required: false
        description: Ensure result set excludes comments assigned to specific user IDs. Requires authorization.
        schema:
          type: array
          items:
            type: integer
      - name: author_email
        in: query
        required: false
        description: Limit result set to that from a specific author email. Requires authorization.
        schema:
          type: string
          format: email
      - name: before
        in: query
        required: false
        description: Limit response to comments published before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: exclude
        in: query
        required: false
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: include
        in: query
        required: false
        description: Limit result set to specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: offset
        in: query
        required: false
        description: Offset the result set by a specific number of items.
        schema:
          type: integer
      - name: order
        in: query
        required: false
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - name: orderby
        in: query
        required: false
        description: Sort collection by comment attribute.
        schema:
          type: string
          enum:
          - date
          - date_gmt
          - id
          - include
          - post
          - parent
          - type
          default: date_gmt
      - name: parent
        in: query
        required: false
        description: Limit result set to comments of specific parent IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: parent_exclude
        in: query
        required: false
        description: Ensure result set excludes specific parent IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: post
        in: query
        required: false
        description: Limit result set to comments assigned to specific post IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: status
        in: query
        required: false
        description: Limit result set to comments assigned a specific status. Requires authorization.
        schema:
          type: string
          default: approve
      - name: type
        in: query
        required: false
        description: Limit result set to comments assigned a specific type. Requires authorization.
        schema:
          type: string
          default: comment
      - name: password
        in: query
        required: false
        description: The password for the post if it is password protected.
        schema:
          type: string
      security:
      - {}
  /wp/v2/comments/{id}:
    get:
      operationId: getWpV2CommentsById
      summary: GET /wp/v2/comments/{id}
      tags:
      - WordPress Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json. Parameters are copied verbatim from the index; response schemas are not declared by the index and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the comment.
        schema:
          type: integer
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: password
        in: query
        required: false
        description: The password for the parent post of the comment (if the post is password protected).
        schema:
          type: string
      security:
      - {}
  /wp/v2/media:
    get:
      operationId: getWpV2Media
      summary: GET /wp/v2/media
      tags:
      - WordPress Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json. Parameters are copied verbatim from the index; response schemas are not declared by the index and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: page
        in: query
        required: false
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        required: false
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: search
        in: query
        required: false
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: after
        in: query
        required: false
        description: Limit response to posts published after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: modified_after
        in: query
        required: false
        description: Limit response to posts modified after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: author
        in: query
        required: false
        description: Limit result set to posts assigned to specific authors.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: author_exclude
        in: query
        required: false
        description: Ensure result set excludes posts assigned to specific authors.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: before
        in: query
        required: false
        description: Limit response to posts published before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        required: false
        description: Limit response to posts modified before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: exclude
        in: query
        required: false
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: include
        in: query
        required: false
        description: Limit result set to specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: search_semantics
        in: query
        required: false
        description: How to interpret the search input.
        schema:
          type: string
          enum:
          - exact
      - name: offset
        in: query
        required: false
        description: Offset the result set by a specific number of items.
        schema:
          type: integer
      - name: order
        in: query
        required: false
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - name: orderby
        in: query
        required: false
        description: Sort collection by post attribute.
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          default: date
      - name: parent
        in: query
        required: false
        description: Limit result set to items with particular parent IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: parent_exclude
        in: query
        required: false
        description: Limit result set to all items except those of a particular parent ID.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: search_columns
        in: query
        required: false
        description: Array of column names to be searched.
        schema:
          type: array
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
          default: []
      - name: slug
        in: query
        required: false
        description: Limit result set to posts with one or more specific slugs.
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        required: false
        description: Limit result set to posts assigned one or more statuses.
        schema:
          type: array
          items:
            type: string
            enum:
            - inherit
            - private
            - trash
          default: inherit
      - name: media_type
        in: query
        required: false
        description: Limit result set to attachments of a particular media type or media types.
        schema:
          type: array
          items:
            type: string
            enum:
            - image
            - video
            - text
            - application
            - audio
      - name: mime_type
        in: query
        required: false
        description: Limit result set to attachments of a particular MIME type or MIME types.
        schema:
          type: array
          items:
            type: string
      security:
      - {}
  /wp/v2/media/{id}:
    get:
      operationId: getWpV2MediaById
      summary: GET /wp/v2/media/{id}
      tags:
      - WordPress Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json. Parameters are copied verbatim from the index; response schemas are not declared by the index and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the post.
        schema:
          type: integer
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      security:
      - {}
  /wp/v2/pages:
    get:
      operationId: getWpV2Pages
      summary: GET /wp/v2/pages
      tags:
      - WordPress Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json. Parameters are copied verbatim from the index; response schemas are not declared by the index and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: page
        in: query
        required: false
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        required: false
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: search
        in: query
        required: false
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: after
        in: query
        required: false
        description: Limit response to posts published after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: modified_after
        in: query
        required: false
        description: Limit response to posts modified after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: author
        in: query
        required: false
        description: Limit result set to posts assigned to specific authors.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: author_exclude
        in: query
        required: false
        description: Ensure result set excludes posts assigned to specific authors.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: before
        in: query
        required: false
        description: Limit response to posts published before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        required: false
        description: Limit response to posts modified before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: exclude
        in: query
        required: false
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: include
        in: query
        required: false
        description: Limit result set to specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: menu_order
        in: query
        required: false
        description: Limit result set to posts with a specific menu_order value.
        schema:
          type: integer
      - name: search_semantics
        in: query
        required: false
        description: How to interpret the search input.
        schema:
          type: string
          enum:
          - exact
      - name: offset
        in: query
        required: false
        description: Offset the result set by a specific number of items.
        schema:
          type: integer
      - name: order
        in: query
        required: false
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - name: orderby
        in: query
        required: false
        description: Sort collection by post attribute.
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          - menu_order
          default: date
      - name: parent
        in: query
        required: false
        description: Limit result set to items with particular parent IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: parent_exclude
        in: query
        required: false
        description: Limit result set to all items except those of a particular parent ID.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: search_columns
        in: query
        required: false
        description: Array of column names to be searched.
        schema:
          type: array
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
          default: []
      - name: slug
        in: query
        required: false
        description: Limit result set to posts with one or more specific slugs.
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        required: false
        description: Limit result set to posts assigned one or more statuses.
        schema:
          type: array
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - acf-disabled
            - any
          default: publish
      security:
      - {}
  /wp/v2/pages/{id}:
    get:
      operationId: getWpV2PagesById
      summary: GET /wp/v2/pages/{id}
      tags:
      - WordPress Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json. Parameters are copied verbatim from the index; response schemas are not declared by the index and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the post.
        schema:
          type: integer
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: excerpt_length
        in: query
        required: false
        description: Override the default excerpt length.
        schema:
          type: integer
      - name: password
        in: query
        required: false
        description: The password for the post if it is password protected.
        schema:
          type: string
      security:
      - {}
  /wp/v2/posts:
    get:
      operationId: getWpV2Posts
      summary: GET /wp/v2/posts
      tags:
      - WordPress Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json. Parameters are copied verbatim from the index; response schemas are not declared by the index and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: page
        in: query
        required: false
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        required: false
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: search
        in: query
        required: false
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: after
        in: query
        required: false
        description: Limit response to posts published after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: modified_after
        in: query
        required: false
        description: Limit response to posts modified after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: author
        in: query
        required: false
        description: Limit result set to posts assigned to specific authors.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: author_exclude
        in: query
        required: false
        description: Ensure result set excludes posts assigned to specific authors.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: before
        in: query
        required: false
        description: Limit response to posts published before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        required: false
        description: Limit response to posts modified before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: exclude
        in: query
        required: false
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: include
        in: query
        required: false
        description: Limit result set to specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: search_semantics
        in: query
        required: false
        description: How to interpret the search input.
        schema:
          type: string
          enum:
          - exact
      - name: offset
        in: query
        required: false
        description: Offset the result set by a specific number of items.
        schema:
          type: integer
      - name: order
        in: query
        required: false
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - name: orderby
        in: query
        required: false
        description: Sort collection by post attribute.
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          default: date
      - name: search_columns
        in: query
        required: false
        description: Array of column names to be searched.
        schema:
          type: array
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
          default: []
      - name: slug
        in: query
        required: false
        description: Limit result set to posts with one or more specific slugs.
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        required: false
        description: Limit result set to posts assigned one or more statuses.
        schema:
          type: array
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - acf-disabled
            - any
          default: publish
      - name: tax_relation
        in: query
        required: false
        description: Limit result set based on relationship between multiple taxonomies.
        schema:
          type: string
          enum:
          - AND
          - OR
      - name: categories
        in: query
        required: false
        description: Limit result set to items with specific terms assigned in the categories taxonomy.
        schema:
          type: object
      - name: categories_exclude
        in: query
        required: false
        description: Limit result set to items except those with specific terms assigned in the categories taxonomy.
        schema:
          type: object
      - name: tags
        in: query
        required: false
        description: Limit result set to items with specific terms assigned in the tags taxonomy.
        schema:
          type: object
      - name: tags_exclude
        in: query
        required: false
        description: Limit result set to items except those with specific terms assigned in the tags taxonomy.
        schema:
          type: object
      - name: sticky
        in: query
        required: false
        description: Limit result set to items that are sticky.
        schema:
          type: boolean
      - name: ignore_sticky
        in: query
        required: false
        description: Whether to ignore sticky posts or not.
        schema:
          type: boolean
          default: true
      - name: format
        in: query
        required: false
        description: Limit result set to items assigned one or more given formats.
        schema:
          type: array
          items:
            type: string
            enum:
            - standard
            - aside
            - chat
            - gallery
            - link
            - image
            - quote
            - status
            - video
            - audio
      security:
      - {}
  /wp/v2/posts/{id}:
    get:
      operationId: getWpV2PostsById
      summary: GET /wp/v2/posts/{id}
      tags:
      - WordPress Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json. Parameters are copied verbatim from the index; response schemas are not declared by the index and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the post.
        schema:
          type: integer
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: excerpt_length
        in: query
        required: false
        description: Override the default excerpt length.
        schema:
          type: integer
      - name: password
        in: query
        required: false
        description: The password for the post if it is password protected.
        schema:
          type: string
      security:
      - {}
  /wp/v2/release_audience:
    get:
      operationId: getWpV2ReleaseAudience
      summary: GET /wp/v2/release_audience
      tags:
      - WordPress Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json. Parameters are copied verbatim from the index; response schemas are not declared by the index and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: page
        in: query
        required: false
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        required: false
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: search
        in: query
        required: false
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: exclude
        in: query
        required: false
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: include
        in: query
        required: false
        description: Limit result set to specific IDs.
[...]
