openapi: 3.1.0
info:
  title: Agora Website Content API
  version: '2026-09-12'
  summary: Agora's public, first-party content API for agorareal.com.
  description: 'The anonymous, read-mostly content API behind agorareal.com. The marketing site is a headless
    WordPress install at websiteapi.agorareal.com fronted by a Next.js application on agorareal.com, and
    the WordPress REST API is served publicly at https://websiteapi.agorareal.com/wp-json. Alongside the
    stock wp/v2 namespace, Agora publishes its own first-party namespace, agora/v1, with 25 routes purpose-built
    for the site: posts and case studies by slug, author detail, category batches, the cookie and privacy
    policies, the site map, Yoast redirects, theme settings and the AI "Season of Innovation" release
    feed.


    PROVENANCE: this document was DERIVED, not fetched. Agora publishes no OpenAPI. Every path, method
    and parameter below is copied from the live self-describing route index at https://websiteapi.agorareal.com/wp-json
    (HTTP 200, 326,828 bytes, fetched 2026-09-12), which is the WordPress REST API''s own machine-readable
    discovery document. The route index declares arguments but not response schemas, so no response body
    schema is asserted here. The error envelope and the pagination headers WERE observed on live anonymous
    calls and are recorded as seen.


    SCOPE: this is the content API for Agora''s website. It is NOT the Agora investment-management platform
    API. That surface is tenant-scoped at https://{tenant}.acp.agorareal.com/api, is unreachable anonymously
    (nginx 502 to every anonymous /api/* request), and is sold as a separately priced Enterprise add-on
    with no public reference.'
  contact:
    name: Agora
    url: https://agorareal.com/contact-us/
  x-generated-from: https://websiteapi.agorareal.com/wp-json
  x-generated-method: derived
  x-generated-date: '2026-09-12'
servers:
- url: https://websiteapi.agorareal.com/wp-json
  description: Agora headless WordPress REST API (production).
tags:
- name: Agora Content
  description: Agora's own first-party agora/v1 namespace.
- name: WordPress Content
  description: Public read routes of the stock wp/v2 namespace.
- name: oEmbed
  description: oEmbed representation of an agorareal.com URL.
paths:
  /agora/v1/Carrers:
    get:
      operationId: getAgoraV1Carrers
      summary: GET /agora/v1/Carrers
      tags:
      - Agora Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json.
        Parameters are copied verbatim from the index; response schemas are not declared by the index
        and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      security:
      - {}
  /agora/v1/all_categories:
    get:
      operationId: getAgoraV1AllCategories
      summary: GET /agora/v1/all_categories
      tags:
      - Agora Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json.
        Parameters are copied verbatim from the index; response schemas are not declared by the index
        and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      security:
      - {}
  /agora/v1/fetch-theme-setting:
    get:
      operationId: getAgoraV1FetchThemeSetting
      summary: GET /agora/v1/fetch-theme-setting
      tags:
      - Agora Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json.
        Parameters are copied verbatim from the index; response schemas are not declared by the index
        and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      security:
      - {}
  /agora/v1/flexible-content:
    get:
      operationId: getAgoraV1FlexibleContent
      summary: GET /agora/v1/flexible-content
      tags:
      - Agora Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json.
        Parameters are copied verbatim from the index; response schemas are not declared by the index
        and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      security:
      - {}
  /agora/v1/get-author-by-author-slug/{author_slug}:
    get:
      operationId: getAgoraV1GetAuthorByAuthorSlug
      summary: GET /agora/v1/get-author-by-author-slug/{author_slug}
      tags:
      - Agora Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json.
        Parameters are copied verbatim from the index; response schemas are not declared by the index
        and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: author_slug
        in: path
        required: true
        description: Path segment author_slug.
        schema:
          type: string
      security:
      - {}
  /agora/v1/get-author-detail-by-author-id/{author_id}:
    get:
      operationId: getAgoraV1GetAuthorDetailByAuthorId
      summary: GET /agora/v1/get-author-detail-by-author-id/{author_id}
      tags:
      - Agora Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json.
        Parameters are copied verbatim from the index; response schemas are not declared by the index
        and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: author_id
        in: path
        required: true
        description: Path segment author_id.
        schema:
          type: string
      security:
      - {}
  /agora/v1/get-case-study-by-post-slug/{post_slug}:
    get:
      operationId: getAgoraV1GetCaseStudyByPostSlug
      summary: GET /agora/v1/get-case-study-by-post-slug/{post_slug}
      tags:
      - Agora Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json.
        Parameters are copied verbatim from the index; response schemas are not declared by the index
        and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: post_slug
        in: path
        required: true
        description: Path segment post_slug.
        schema:
          type: string
      security:
      - {}
  /agora/v1/get-categories:
    get:
      operationId: getAgoraV1GetCategories
      summary: GET /agora/v1/get-categories
      tags:
      - Agora Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json.
        Parameters are copied verbatim from the index; response schemas are not declared by the index
        and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      security:
      - {}
  /agora/v1/get-cookie-policy:
    get:
      operationId: getAgoraV1GetCookiePolicy
      summary: GET /agora/v1/get-cookie-policy
      tags:
      - Agora Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json.
        Parameters are copied verbatim from the index; response schemas are not declared by the index
        and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      security:
      - {}
  /agora/v1/get-more-articles-by-blog-slug/{blog_slug}:
    get:
      operationId: getAgoraV1GetMoreArticlesByBlogSlug
      summary: GET /agora/v1/get-more-articles-by-blog-slug/{blog_slug}
      tags:
      - Agora Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json.
        Parameters are copied verbatim from the index; response schemas are not declared by the index
        and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: blog_slug
        in: path
        required: true
        description: Path segment blog_slug.
        schema:
          type: string
      security:
      - {}
  /agora/v1/get-posts-by-post-slug/{post_slug}:
    get:
      operationId: getAgoraV1GetPostsByPostSlug
      summary: GET /agora/v1/get-posts-by-post-slug/{post_slug}
      tags:
      - Agora Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json.
        Parameters are copied verbatim from the index; response schemas are not declared by the index
        and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: post_slug
        in: path
        required: true
        description: Path segment post_slug.
        schema:
          type: string
      security:
      - {}
  /agora/v1/get-privacy-policy:
    get:
      operationId: getAgoraV1GetPrivacyPolicy
      summary: GET /agora/v1/get-privacy-policy
      tags:
      - Agora Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json.
        Parameters are copied verbatim from the index; response schemas are not declared by the index
        and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      security:
      - {}
  /agora/v1/get_ai_new_releases_filters:
    get:
      operationId: getAgoraV1GetAiNewReleasesFilters
      summary: GET /agora/v1/get_ai_new_releases_filters
      tags:
      - Agora Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json.
        Parameters are copied verbatim from the index; response schemas are not declared by the index
        and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      security:
      - {}
  /agora/v1/get_ai_new_releases_posts:
    get:
      operationId: getAgoraV1GetAiNewReleasesPosts
      summary: GET /agora/v1/get_ai_new_releases_posts
      tags:
      - Agora Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json.
        Parameters are copied verbatim from the index; response schemas are not declared by the index
        and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      security:
      - {}
  /agora/v1/get_all_authors:
    get:
      operationId: getAgoraV1GetAllAuthors
      summary: GET /agora/v1/get_all_authors
      tags:
      - Agora Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json.
        Parameters are copied verbatim from the index; response schemas are not declared by the index
        and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      security:
      - {}
  /agora/v1/get_authors_batch:
    get:
      operationId: getAgoraV1GetAuthorsBatch
      summary: GET /agora/v1/get_authors_batch
      tags:
      - Agora Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json.
        Parameters are copied verbatim from the index; response schemas are not declared by the index
        and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      security:
      - {}
  /agora/v1/get_casestudy_batch:
    get:
      operationId: getAgoraV1GetCasestudyBatch
      summary: GET /agora/v1/get_casestudy_batch
      tags:
      - Agora Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json.
        Parameters are copied verbatim from the index; response schemas are not declared by the index
        and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      security:
      - {}
  /agora/v1/get_category_batch_posts:
    get:
      operationId: getAgoraV1GetCategoryBatchPosts
      summary: GET /agora/v1/get_category_batch_posts
      tags:
      - Agora Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json.
        Parameters are copied verbatim from the index; response schemas are not declared by the index
        and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      security:
      - {}
  /agora/v1/positiondelete:
    delete:
      operationId: deleteAgoraV1Positiondelete
      summary: DELETE /agora/v1/positiondelete
      tags:
      - Agora Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json.
        Parameters are copied verbatim from the index; response schemas are not declared by the index
        and are therefore not asserted here. Write route — requires an authenticated WordPress session;
        not exercised by this profile.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      security:
      - cookieNonce: []
      - basicAuth: []
  /agora/v1/positionpost:
    post:
      operationId: postAgoraV1Positionpost
      summary: POST /agora/v1/positionpost
      tags:
      - Agora Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json.
        Parameters are copied verbatim from the index; response schemas are not declared by the index
        and are therefore not asserted here. Write route — requires an authenticated WordPress session;
        not exercised by this profile.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      security:
      - cookieNonce: []
      - basicAuth: []
  /agora/v1/positionput:
    put:
      operationId: putAgoraV1Positionput
      summary: PUT /agora/v1/positionput
      tags:
      - Agora Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json.
        Parameters are copied verbatim from the index; response schemas are not declared by the index
        and are therefore not asserted here. Write route — requires an authenticated WordPress session;
        not exercised by this profile.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      security:
      - cookieNonce: []
      - basicAuth: []
  /agora/v1/posts-by-category-slug-or-id:
    get:
      operationId: getAgoraV1PostsByCategorySlugOrId
      summary: GET /agora/v1/posts-by-category-slug-or-id
      tags:
      - Agora Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json.
        Parameters are copied verbatim from the index; response schemas are not declared by the index
        and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      security:
      - {}
  /agora/v1/recent-post-acc-to-cat:
    get:
      operationId: getAgoraV1RecentPostAccToCat
      summary: GET /agora/v1/recent-post-acc-to-cat
      tags:
      - Agora Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json.
        Parameters are copied verbatim from the index; response schemas are not declared by the index
        and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      security:
      - {}
  /agora/v1/sitemap:
    get:
      operationId: getAgoraV1Sitemap
      summary: GET /agora/v1/sitemap
      tags:
      - Agora Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json.
        Parameters are copied verbatim from the index; response schemas are not declared by the index
        and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      security:
      - {}
  /agora/v1/yoast_redirects:
    get:
      operationId: getAgoraV1YoastRedirects
      summary: GET /agora/v1/yoast_redirects
      tags:
      - Agora Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json.
        Parameters are copied verbatim from the index; response schemas are not declared by the index
        and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      security:
      - {}
  /oembed/1.0/embed:
    get:
      operationId: getOembed10Embed
      summary: GET /oembed/1.0/embed
      tags:
      - oEmbed
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json.
        Parameters are copied verbatim from the index; response schemas are not declared by the index
        and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: url
        in: query
        required: true
        description: The URL of the resource for which to fetch oEmbed data.
        schema:
          type: string
          format: uri
      - name: format
        in: query
        required: false
        description: ''
        schema:
          default: json
      - name: maxwidth
        in: query
        required: false
        description: ''
        schema:
          default: 600
      security:
      - {}
  /wp/v2/agora-authors:
    get:
      operationId: getWpV2AgoraAuthors
      summary: GET /wp/v2/agora-authors
      tags:
      - WordPress Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json.
        Parameters are copied verbatim from the index; response schemas are not declared by the index
        and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: page
        in: query
        required: false
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        required: false
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: search
        in: query
        required: false
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: after
        in: query
        required: false
        description: Limit response to posts published after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: modified_after
        in: query
        required: false
        description: Limit response to posts modified after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: before
        in: query
        required: false
        description: Limit response to posts published before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        required: false
        description: Limit response to posts modified before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: exclude
        in: query
        required: false
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: include
        in: query
        required: false
        description: Limit result set to specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: search_semantics
        in: query
        required: false
        description: How to interpret the search input.
        schema:
          type: string
          enum:
          - exact
      - name: offset
        in: query
        required: false
        description: Offset the result set by a specific number of items.
        schema:
          type: integer
      - name: order
        in: query
        required: false
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - name: orderby
        in: query
        required: false
        description: Sort collection by post attribute.
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          default: date
      - name: parent
        in: query
        required: false
        description: Limit result set to items with particular parent IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: parent_exclude
        in: query
        required: false
        description: Limit result set to all items except those of a particular parent ID.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: search_columns
        in: query
        required: false
        description: Array of column names to be searched.
        schema:
          type: array
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
          default: []
      - name: slug
        in: query
        required: false
        description: Limit result set to posts with one or more specific slugs.
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        required: false
        description: Limit result set to posts assigned one or more statuses.
        schema:
          type: array
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - acf-disabled
            - any
          default: publish
      security:
      - {}
  /wp/v2/agora-authors/{id}:
    get:
      operationId: getWpV2AgoraAuthorsById
      summary: GET /wp/v2/agora-authors/{id}
      tags:
      - WordPress Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json.
        Parameters are copied verbatim from the index; response schemas are not declared by the index
        and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the post.
        schema:
          type: integer
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: excerpt_length
        in: query
        required: false
        description: Override the default excerpt length.
        schema:
          type: integer
      - name: password
        in: query
        required: false
        description: The password for the post if it is password protected.
        schema:
          type: string
      security:
      - {}
  /wp/v2/ai-new-release:
    get:
      operationId: getWpV2AiNewRelease
      summary: GET /wp/v2/ai-new-release
      tags:
      - WordPress Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json.
        Parameters are copied verbatim from the index; response schemas are not declared by the index
        and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: page
        in: query
        required: false
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        required: false
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: search
        in: query
        required: false
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: after
        in: query
        required: false
        description: Limit response to posts published after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: modified_after
        in: query
        required: false
        description: Limit response to posts modified after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: before
        in: query
        required: false
        description: Limit response to posts published before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        required: false
        description: Limit response to posts modified before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: exclude
        in: query
        required: false
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: include
        in: query
        required: false
        description: Limit result set to specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: search_semantics
        in: query
        required: false
        description: How to interpret the search input.
        schema:
          type: string
          enum:
          - exact
      - name: offset
        in: query
        required: false
        description: Offset the result set by a specific number of items.
        schema:
          type: integer
      - name: order
        in: query
        required: false
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - name: orderby
        in: query
        required: false
        description: Sort collection by post attribute.
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          default: date
      - name: search_columns
        in: query
        required: false
        description: Array of column names to be searched.
        schema:
          type: array
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
          default: []
      - name: slug
        in: query
        required: false
        description: Limit result set to posts with one or more specific slugs.
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        required: false
        description: Limit result set to posts assigned one or more statuses.
        schema:
          type: array
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - acf-disabled
            - any
          default: publish
      - name: tax_relation
        in: query
        required: false
        description: Limit result set based on relationship between multiple taxonomies.
        schema:
          type: string
          enum:
          - AND
          - OR
      - name: release_product
        in: query
        required: false
        description: Limit result set to items with specific terms assigned in the release_product taxonomy.
        schema:
          type: object
      - name: release_product_exclude
        in: query
        required: false
        description: Limit result set to items except those with specific terms assigned in the release_product
          taxonomy.
        schema:
          type: object
      - name: release_plan
        in: query
        required: false
        description: Limit result set to items with specific terms assigned in the release_plan taxonomy.
        schema:
          type: object
      - name: release_plan_exclude
        in: query
        required: false
        description: Limit result set to items except those with specific terms assigned in the release_plan
          taxonomy.
        schema:
          type: object
      - name: release_update_type
        in: query
        required: false
        description: Limit result set to items with specific terms assigned in the release_update_type
          taxonomy.
        schema:
          type: object
      - name: release_update_type_exclude
        in: query
        required: false
        description: Limit result set to items except those with specific terms assigned in the release_update_type
          taxonomy.
        schema:
          type: object
      - name: release_audience
        in: query
        required: false
        description: Limit result set to items with specific terms assigned in the release_audience taxonomy.
        schema:
          type: object
      - name: release_audience_exclude
        in: query
        required: false
        description: Limit result set to items except those with specific terms assigned in the release_audience
          taxonomy.
        schema:
          type: object
      security:
      - {}
  /wp/v2/ai-new-release/{id}:
    get:
      operationId: getWpV2AiNewReleaseById
      summary: GET /wp/v2/ai-new-release/{id}
      tags:
      - WordPress Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json.
        Parameters are copied verbatim from the index; response schemas are not declared by the index
        and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the post.
        schema:
          type: integer
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: excerpt_length
        in: query
        required: false
        description: Override the default excerpt length.
        schema:
          type: integer
      - name: password
        in: query
        required: false
        description: The password for the post if it is password protected.
        schema:
          type: string
      security:
      - {}
  /wp/v2/case-study:
    get:
      operationId: getWpV2CaseStudy
      summary: GET /wp/v2/case-study
      tags:
      - WordPress Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json.
        Parameters are copied verbatim from the index; response schemas are not declared by the index
        and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: page
        in: query
        required: false
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        required: false
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: search
        in: query
        required: false
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: after
        in: query
        required: false
        description: Limit response to posts published after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: modified_after
        in: query
        required: false
        description: Limit response to posts modified after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: before
        in: query
        required: false
        description: Limit response to posts published before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        required: false
        description: Limit response to posts modified before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: exclude
        in: query
        required: false
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: include
        in: query
        required: false
        description: Limit result set to specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: search_semantics
        in: query
        required: false
        description: How to interpret the search input.
        schema:
          type: string
          enum:
          - exact
      - name: offset
        in: query
        required: false
        description: Offset the result set by a specific number of items.
        schema:
          type: integer
      - name: order
        in: query
        required: false
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - name: orderby
        in: query
        required: false
        description: Sort collection by post attribute.
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          default: date
      - name: parent
        in: query
        required: false
        description: Limit result set to items with particular parent IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: parent_exclude
        in: query
        required: false
        description: Limit result set to all items except those of a particular parent ID.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: search_columns
        in: query
        required: false
        description: Array of column names to be searched.
        schema:
          type: array
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
          default: []
      - name: slug
        in: query
        required: false
        description: Limit result set to posts with one or more specific slugs.
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        required: false
        description: Limit result set to posts assigned one or more statuses.
        schema:
          type: array
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - acf-disabled
            - any
          default: publish
      - name: tax_relation
        in: query
        required: false
        description: Limit result set based on relationship between multiple taxonomies.
        schema:
          type: string
          enum:
          - AND
          - OR
      - name: case_study_taxonomy
        in: query
        required: false
        description: Limit result set to items with specific terms assigned in the case_study_taxonomy
          taxonomy.
        schema:
          type: object
      - name: case_study_taxonomy_exclude
        in: query
        required: false
        description: Limit result set to items except those with specific terms assigned in the case_study_taxonomy
          taxonomy.
        schema:
          type: object
      - name: case-study-tag
        in: query
        required: false
        description: Limit result set to items with specific terms assigned in the case-study-tag taxonomy.
        schema:
          type: object
      - name: case-study-tag_exclude
        in: query
        required: false
        description: Limit result set to items except those with specific terms assigned in the case-study-tag
          taxonomy.
        schema:
          type: object
      security:
      - {}
  /wp/v2/case-study-tag:
    get:
      operationId: getWpV2CaseStudyTag
      summary: GET /wp/v2/case-study-tag
      tags:
      - WordPress Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json.
        Parameters are copied verbatim from the index; response schemas are not declared by the index
        and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: page
        in: query
        required: false
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        required: false
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: search
        in: query
        required: false
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: exclude
        in: query
        required: false
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: include
        in: query
        required: false
        description: Limit result set to specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: offset
        in: query
        required: false
        description: Offset the result set by a specific number of items.
        schema:
          type: integer
      - name: order
        in: query
        required: false
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - name: orderby
        in: query
        required: false
        description: Sort collection by term attribute.
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
          default: name
      - name: hide_empty
        in: query
        required: false
        description: Whether to hide terms not assigned to any posts.
        schema:
          type: boolean
          default: false
      - name: post
        in: query
        required: false
        description: Limit result set to terms assigned to a specific post.
        schema:
          type: integer
      - name: slug
        in: query
        required: false
        description: Limit result set to terms with one or more specific slugs.
        schema:
          type: array
          items:
            type: string
      security:
      - {}
  /wp/v2/case-study-tag/{id}:
    get:
      operationId: getWpV2CaseStudyTagById
      summary: GET /wp/v2/case-study-tag/{id}
      tags:
      - WordPress Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json.
        Parameters are copied verbatim from the index; response schemas are not declared by the index
        and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the term.
        schema:
          type: integer
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      security:
      - {}
  /wp/v2/case-study/{id}:
    get:
      operationId: getWpV2CaseStudyById
      summary: GET /wp/v2/case-study/{id}
      tags:
      - WordPress Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json.
        Parameters are copied verbatim from the index; response schemas are not declared by the index
        and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the post.
        schema:
          type: integer
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: password
        in: query
        required: false
        description: The password for the post if it is password protected.
        schema:
          type: string
      security:
      - {}
  /wp/v2/case_study_taxonomy:
    get:
      operationId: getWpV2CaseStudyTaxonomy
      summary: GET /wp/v2/case_study_taxonomy
      tags:
      - WordPress Content
      description: Route declared by the live WordPress REST route index at https://websiteapi.agorareal.com/wp-json.
        Parameters are copied verbatim from the index; response schemas are not declared by the index
        and are therefore not asserted here.
      responses:
        '200':
          description: Success. Response body shape is not declared in the route index.
          headers:
            X-WP-Total:
              description: Total number of matching records (collection routes).
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available (collection routes).
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
          content:
            application/json:
              schema: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '401':
          description: 'Not authenticated. Observed body: {"code":"rest_not_logged_in",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '403':
          description: 'Authenticated but not permitted. Observed body: {"code":"rest_forbidden",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: 'No route or record. Observed body: {"code":"rest_no_route",...} / {"code":"rest_post_invalid_id",...}.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
[...]
